<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SymBNB - {% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'admin/partials/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'admin/partials/footer.html.twig' %}
        <script src="https://kit.fontawesome.com/79292a4c58.js"></script>
        <script src="https://cdn.tiny.cloud/1/0ymxvkk8uy5skowdciteng030bzu94w3024imvbtq9xgrrqz/tinymce/5/tinymce.min.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
