@import url('./bootstrap.min.css');

*, p, .btn
{
    font-family: 'Raleway', sans-serif;
}

div.container, div.container-fluid
{
    margin-top: 20px;
}

div.adshow-title
{
    padding: 2em;
    background-position: center;
    background-size: cover;

    h1, p
    {
        color: white;
        text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    }

    .btn
    {
        margin-top: 2em;
        font-size: 1em;
    }
}

div.carousel-caption
{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.avatar
{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;

    &.avatar-medium
    {
        max-width: 64px;
        max-height: 64px;
    }

    &.avatar-mini
    {
        max-width: 32px;
        max-height: 32px;
    }
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover
{
    color: firebrick !important;
}

span.rating i
{
    color: goldenrod;
}

.alert
{
    a
    {
        text-decoration: none;
    }

    .btn
    {
        color: white;
    }
}

#scroll-top
{
    cursor: pointer;
}

footer 
{
    .fas
    {
        color: #000;
        font-size: 22px;
        margin: 20px;
        height: 30px;
    }
    
    .fas:hover
    {
        font-size: 25px;
    }
}

.table tr td
{
    vertical-align: middle;
}

.alert-danger .table tr:hover, .alert-success .table tr:hover
{
    color: white;
}

@media screen and (max-width: 768px)
{
    .display-3
    {
        font-size: 2.5em;
    }
}